<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="{{url_for('static', filename ='css/styles.css')}}">
   <link rel="stylesheet" href="/bootstrap.css">
   <title>Document</title>
</head>

<body>
   <div class="top d-flex align-items-center justify-content-center">
       <h1 class="text-light twing-title">TwingIT</h1>
   </div>
   <div class="nav">
       <div class="container">
           <div class="nav">
               <div class="home d-flex align-items-center ml-5">
                   <h1 class="text-light mb-0">Home</h1>
               </div>
               <div class="nav-content mr-5 ml-auto d-flex align-items-center">
                   <ul class="nav-ul d-flex align-items-center mb-0">
                       <li>
                           <a class="nav-link" href="{{url_for('main.about') }}">About</a>
                       </li>
                        {% if current_user.is_authenticated %} {% if current_user.is_admin %}

        <li><a href="{{ url_for('main.admin_dashboard') }}">Analytics</a></li>


        <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>


        {% else %}

        <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>

{% endif %}

                       <li><a href="{{url_for('auth.logout')}}">Log out</a></li>


        <li><a><i class="fa fa-user"></i> Hi, {{ current_user.username }}!</a></li>


        {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="{{url_for('auth.register')}}">Register</a></li>
        <li class="divider"></li>
        <li><a href="{{url_for('auth.login')}}">Log in</a></li>

        {% endif %}

                   </ul>
               </div>
           </div>
       </div>
   </div>
    <div class="jumbotron text-center mb-0" style="background-color:grey;">

       OUR CORE SERVICES

        CARDS THAT LIST THE FOLLOWING:
       1. DATA MINING
        2. DATA VISUALISATION
        3. DATA ANALYTICS

    </div>




   <div class="jumbotron text-center mb-0" style="background-color:blue;">

       OUR CLIENTS

       CAROUSEL WITH LOGOS OF CLIENTS

   </div>


   <div class="jumbotron text-center mb-0 mt-0" style="background-color:red;">
   <p><strong>CONTACT US</strong>
               <br>
               <br>
       <br>
       <strong>Main Office :</strong>
 <br>
Moringa School, Ngong Lane Plaza, Nairobi Kenya.
 <br>

<strong>Email:</strong>
               <br>
       info@twingit.co.ke
        <br>


<strong>Phone:</strong>
               <br>

       (+254)-123 456 789
        <br>
       <strong>Address:</strong>
       <br>
P.O.Box 12345 - 00100 Nairobi Kenya
        <br>
       <p>



        </div>


    <div class="jumbotron text-center" style="background-color:yellow;">

       footer section



   </div>


   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script src="/scripts.js"></script>
</body>

</html>